dl {
    display: block;
    margin-left: 10px;
    font-size: 15px;
}


dt {
    display: block;
    clear: both;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}


/**
dd {
    display: inline-block;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom:25px;
}
*/
