dl {
    display: block;
    margin-left: 10px;
}
dt {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 25px;
}
dd {
    display: block;
    margin-left: 25px;
    margin-top: 0;
    margin-bottom:10px;
}
