dl {
    display: block;
    font-size: 13px;
}

dt {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0;
}

dd {
    display: block;
    margin-bottom:25px;
    margin-left: 0;
}
