---
layout: default
---

{{ content }}

{% for js_file in page.graphs_js %}
  <script type="text/javascript"
    id="{{ js_file[0] }}"
    src="{{ site.baseurl }}/assets/js/{{ js_file[1] }}.js"
    url="{{ js_file[2] }}"
    project="{{ js_file[3] }}"
    variable="{{ js_file[4] }}" type="text/javascript"></script>
 {% endfor %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
